body {
    margin: 0;
    padding: 0;
    $main-color: #458FF6;
    $trafalgar-color: #233348;
    $navbar-button-color: #1F1534;
    $button-color: #458FF6;
    $p-color: #7D7987;

    #nav-bar {
        .container {
            .row {
                .col-6 {
                    .navbar-logo {
                        display: flex;
                        margin-top: 30px;
                        margin-left: 30px;

                        .logo {
                            border-radius: 100px;
                            padding: 2%;
                            height: 60px;
                            margin-top: 2%;
                            background-color: $main-color;

                            h1 {
                                margin-top: -5px;
                                color: white;
                            }
                        }

                        .trafalgar {
                            color: $trafalgar-color;
                            font-size: 24px;
                            line-height: 30px;
                            margin-left: 15px;
                            margin-top: 2%;
                        }
                    }

                    .navbar-button {
                        ul {
                            display: flex;

                            li {
                                list-style: none;
                                margin-top: 60px;
                                margin-left: 25px;

                                a {
                                    text-decoration: none;
                                    font-weight: bold;
                                    font-size: 18px;
                                    line-height: 23px;
                                    opacity: 0.5;
                                    color: $navbar-button-color;

                                    &:hover {
                                        border-bottom: 4px solid $main-color;
                                        color: $navbar-button-color;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #first {
        margin-top: 200px;
        margin-left: 50px;

        .container {
            .row {
                .col-6 {
                    .virtual {

                        h1 {
                            font-weight: bold;
                            font-size: 48px;
                            line-height: 56px;
                            margin-bottom: 20px;
                        }

                        p {
                            color: $trafalgar-color;
                            font-weight: 300;
                            font-size: 21px;
                            line-height: 32px;
                            font-style: normal;
                            font-family: Mulish;
                            opacity: 0.7;
                        }

                        button {
                            background-color: $button-color;
                            border: none;
                            width: 200px;
                            height: 56px;
                            color: #FFFFFF;
                            border-radius: 55px;
                            margin-top: 30px;
                            font-weight: 600;
                            font-size: 17px;

                            &:hover {
                                box-shadow: 0px 0px 0px 3px #1964F6;
                            }
                        }
                    }
                }

                img {
                    width: 600px;
                    height: 500px;
                    margin-top: -90px;
                }
            }
        }
    }

    #second {
        margin-top: 12%;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 36px;
        }

        p {
            font-weight: 300;
            font-size: 18px;
            margin-top: 5%;
        }

        .line {
            margin-top: 3%;
            margin-left: 48%;
            width: 56px;
            height: 2px;
            background-color: black;
        }

        .container {
            .row {
                .learn {
                    width: 100%;

                    a {
                        border: $p-color 2px solid;
                        border-radius: 20px;
                        padding: 11px;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}