body {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

* {
    transition: all .3s ease;
}

.x-nav {
    padding: 0px;
    margin: 0px;
}

.x-nav li {
    list-style: none;
}

.x-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

.x-nav li a:hover {
    color: #3333ff;
    text-decoration: underline;
}

.active {
    color: #3333ff !important;
}

.portfolio-item {
    /* overflow: hidden; */
}

.img-frame {
    width: 100%;
    height: 270px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    transition: all .3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.4)
}

.portfolio-item:hover h2 {
    color: #3333ff;
    text-decoration: underline;
}