/*box1 start*/
#box1{
    background: #c4b106;
    height: 515px;
}
/* .container .nav-bar{
    margin-right: 60px;
} */

/*Nav-Bar Start*/
.nav-bar{
    padding: 0px;
    margin: 0px;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    padding: 0;
}
.nav-bar ul li{
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
}
.nav-bar ul li::after{
    content: "";
    height: 3px;
    width: 0px;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    right: 0%;
    transition: all .3s ease;
}
.nav-bar ul li:hover::after{
    width: 100%;
    left: 0%;
}
.nav-bar ul li a{
    text-decoration: none;
    color: blanchedalmond;
}
.nav-bar ul li a:hover{
    opacity: .8;
    color: black;
    font-weight: 700;
}
/*Nav-Bar End*/
.image {
    width: 400px;
    height: 370px;
    margin-top: 75px;
    border-radius: 5px;
    display: inline-block;
}
.image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}
.name{
    margin-top: 65px;
    margin-left: 30px;
}
.name-bottom{
    margin-left: 30px;
    margin-bottom: 40px;
}
.main-phone span a{
    list-style: none;
    text-decoration: none;
}
.main-age, .main-phone, .main-email, .main-address{
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    margin-top: 15px;
}
.age-18{
    color: whitesmoke;
    opacity: 0.8;
    margin-left: 43px;
}
.number a{
    color: whitesmoke;
    text-decoration: none;
    opacity: 0.8;
    margin-left: 30px;
}
.number a:hover, .zohrabsemedzade a:hover{
    border-bottom: 1px solid whitesmoke;
}
.zohrabsemedzade a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    opacity: 0.8;
    margin-left: 22px;
}
.address-last{
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
    margin-left: 14px;
}
.icons{
    word-spacing: 10px;
    font-size: 20px;
}
.icons:hover{
    color: white
}
.icons ul{
    display: flex;
    
}
.icons ul li{
    list-style: none;
}
.icons ul li a{
    text-decoration: none;
    color: black;
    transition: all .3s ease;
}
.instagram{
    margin-left: 20px;
    margin-right: 20px;
}
.icons ul li a:hover{
    color: blanchedalmond;
}
/*box1 end*/
/*box2 start*/
#box2{
    background-color: black;
}
.title{
    opacity: 0.9;
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
    font-family: Roboto Mono,monospace;
}
.hi-main p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #555;
}
.site-btn{
    background-color: #c4b106;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 15px;
    min-width: 170px;
    text-align: center;
    display: inline-block;
    color: black;
    font-weight: 600;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: all .5s ease;
    font-weight: bold;
}
a{
    transition: all .3s;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.site-btn img{
    height: 14px;
    margin-top: -5px;
    margin-right: 5px;
}
.site-btn:hover{
    color: #fff;
}
/*box2 end*/
/*box3 start*/
.title{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 42px;
    opacity: 0.8;
    margin-top: 45px;
}
.resume_-main p{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
}
.resume_-main span{
    font-style: italic;
    font-weight: 800;
}
/*box3 end*/
/*box4 start*/
#box4{
    margin-bottom: 70px;
}
.education-main{
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: #999;
    margin-top: 40px;
    margin-bottom: 60px;
}
.education-tree-border{
    border-left: 3px solid #c4b106;
    height: 425px;
    position: absolute;
}
.education-tree-circle{
    border-radius: 50%;
    position: absolute;
    border: 2px solid #c4b106;
    height: 13px;
    width: 13px;
    left: 92px;
    background: white;
}
.education-tree-circle-2{
    border-radius: 50%;
    position: absolute;
    border: 2px solid #c4b106;
    height: 13px;
    width: 13px;
    left: 92px;
    background: white;
    margin-top: 10%
}
.education-tree-circle-3{
    border-radius: 50%;
    position: absolute;
    border: 2px solid #c4b106;
    height: 13px;
    width: 13px;
    left: 92px;
    background: white;
    margin-top: 23%
}
.university{
    text-transform: uppercase;
    color: #c4b106;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 5px;
    margin-left: 25px;
}
.date{
    font-family: Inconsolata,monospace;
    font-size: 14px;
    line-height: 20px;
    color: #999;
    padding-bottom: 10px;
    margin-left: 23px;
}
.university-2, .school-2, .lorem-2{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #555;
    margin-left: 23px;
    margin-top: 15px;
}
.school{
    text-transform: uppercase;
    color: #c4b106;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 5px;
    margin-left: 23px;  
    margin-top: 39px
}
.lorem{
    text-transform: uppercase;
    color: #c4b106;
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto Mono,monospace;
    font-weight: 700;
    padding-bottom: 5px;
    margin-left: 23px;
    margin-top: 75px;  
}
/*box4 end*/
/*box5 start*/
.post-cards{
    margin-left: -12px;
    border: 1px solid lightgray;
    cursor: pointer;
    margin-bottom: 30px;
}
.post-cards:hover{
    box-shadow: 2px 2px 15px 2px #c4b106;
    transition: all .3s ease;
}
.post-card-img{
    margin-bottom: 10px
}
.post-card-img img{
    width: 359px;
    height: 359px;
}
.post-card-info p{
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(117, 117, 117);
    font-family: Roboto,sans-serif;
    margin-left: 10px;
}
.post-card-info h3{
    font-family: Roboto Mono,monospace;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    color: #555;
    margin-left: 10px;
}
#box6{
    background: #c4b106;
    margin-top: 50px;
}
.contact-me{
    margin-top: 40px;
}
.get-in-touch{
    margin-bottom: 40px;
}
.main-phone2, .main-email2, .main-address2{
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    margin-top: 15px;
    margin-left: -30px;
}
.number2 a, .zohrabsemedzade2 a{
    color: whitesmoke;
    text-decoration: none;
    opacity: 0.8;
    margin-left: 30px;
}
.number2 a:hover, .zohrabsemedzade2 a:hover{
    border-bottom: 1px solid whitesmoke;
}
.address-last2{
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
    opacity: 0.8;
    margin-left: 14px;
}
.instagram2, .facebook2, .linkedin2, .github{
    list-style: none;
    text-decoration: none;
    margin-left: -30px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    font-weight: 500;
}
.instagram2 a, .facebook2 a, .linkedin2 a, .github a{
    text-decoration: none;
    color: black;
}
.instagram2 a:hover, .facebook2 a:hover, .linkedin2 a:hover, .github a:hover{
    color: whitesmoke;
    transition: all .3s ease;
    border-bottom: 1px solid whitesmoke;
}
.write-letter{
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
    margin-top: 80px
}
.col input{
    width: 70%;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    color: black;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
    margin-left:-25px;
}
.col2 input{
    width: 70%;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid black;
    padding: 10px;
    color: black;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
    margin-left:-25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.col2 input:hover, .col input:hover{
    box-shadow: 0px 2px 24px 3px rgba(0,0,0,1) inset;
    border: 1px solid black;
    transition: all .3s ease;
}
.col3 textarea{
    margin-left: -25px;
    width: 70%;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid black;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto Mono,monospace;
}
