p, body, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.border{
    border-bottom: 1px solid lightgray;
    display: flex; 
}
.contact{
    /*cursor: pointer;*/
    margin-left: 50px;
    font-size: 20px;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.56;
}
.noqte{
    display: flex;
    color: blue;
}
.zohrab{
    display: flex;
    margin-bottom: 20px;
    margin-left: 30px;
}
.hello:hover{
    color: blue;
    border: 1px;
}
.skills:hover{
    color: blue;
}
.experience:hover{
    color: blue;
}
.education:hover{
    color: blue;
}
.portfolio:hover{
    color: blue;
}
.feedback:hover{
    color: blue;
}
.contact-me:hover{
    color: blue;
}
.noqte-2{
    display: flex;
    color: blue;
}
.zohrab-2{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
}
#box1{
    margin-top: 20px;
    padding: 10px 0px;
   /* border: 1px solid;*/
}
.col-6 p{
    opacity: 0.8;
}
.phone{
    margin: 15px 0px;
    display: flex;
}
.email{
    margin: 15px 0px;
    display: flex;
}
.address{
    margin: 15px 0px;
    display: flex;
}
.social{
    margin: 15px 0px;
    display: flex;
    line-height: 1.4;
    cursor: pointer;
}
.phone span{
    margin-left: 43px;
    margin-top: -2px;
}
.email span{
    margin-left: 48px;
    margin-top: -3px;
}
.address span{
    margin-left: 29px;
    margin-top: -2px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 10px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 700;
}
.contact :hover{
    color: blue;
}
ul li :hover{
    border-bottom: 1px solid blue;
}
.span-icons{
    margin: 0 40px;
}
.span-icons2{
    margin: 0 -20px;
}
.span-icons3{
    margin: 0 40px;
}
.span-icons:hover{
    color: blue;
}
.span-icons2:hover{
    color: blue;
}
.span-icons3:hover{
    color: blue;
}
.contact-me2{
  border: 1px solid blue;
  height: 50px;
  width: 170px;
  border-radius: 3px;
  text-align: center;
  background: blue;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.contact-me3{
    height: 50px;
    width: 170px;
    display: flex;
    cursor: pointer;
    border-radius: 3px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 30px;
    color: black;
    background: #efefef;
}
.contact-me3:hover{
    box-shadow: 1px 1px 1px black;
    opacity: 0.7;
}
.contact-me-main{
    display: flex;
    margin-left: 30px;;
}
.image img{
    width: 570px;
    height: 320px;
}
.p{
    margin-left: 30px;
}
.phone{
    margin-left: 30px;
}
.email{
    margin-left: 30px;
}
.address{
    margin-left: 30px;
}
.social{
    margin-left: 30px;
}
.image{
    margin-left: 200px;
    display: flex;
    margin-top: 10px;
    justify-content: right;
    width: 300px;
}
.image img{
    max-width: 100%;

}
.col-12 {
    display: flex
}
.border-2{
    border-top: 1px solid lightgray;
    margin-top: 40px;
}
.skills-2{
    font-size: 20px;
    opacity: 0.9;
    margin-left: 30px;
    display: flex;
}
.noqte-3{
    color: blue;
}
.p-2{
    margin-left: 30px;
    opacity: 0.7;
}
.web{
    font-size: 20px;
    margin-left: 30px;
    opacity: 0.9;
}
.p-3{
    opacity: 0.7;
}
.ui h4{
    font-size: 18px;
    line-height: 1.55;
    font-weight: 700;
    margin-left: 50px;
    opacity: 0.9;
}
.p-4{
    margin-left: 50px;
    opacity: 0.7;
}
.front h4{
    font-size: 18px;
    line-height: 1.55;
    font-weight: 700;
    margin-left: 25px;
    opacity: 0.9;
}
.p-5{
    opacity: 0.7;
    margin-left: 25px;
}
.h-5{
    margin-bottom: 10px;
}
.border-3{
    border-top: 1px solid lightgray;
    margin-top: 65px;
    margin-left: 27px;
}
.p-6{
    margin-left: 0px;
    opacity: 0.7;
}
.zigzag{
    width: 300px;
    height: 210px;
}
.zigzag img{
    max-width: 100%;
    margin-left: 19px;
    max-height: 100%;
}