head, body{
    margin: 0;
    padding: 0;
}
.main-image {
    width: 1200px;
    height: 400px;
    margin: 10px;
    display: flex;
}
.image{
    width: 290px;
    height: 370px;
    border: 1px solid gray;
    background: gray;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    cursor: pointer;

}